<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About</title>
</head>

<body>

    <section class="first-sec">
        <div class="about-sec">
            <h1>ABOUT US</h1>
            <div class="box"></div>
            <div class="circle"></div>

            <div class="square-box">
                <p class="intro">
                    we are dedicated to revolutionizing the way electronic waste is managed and recycled. With a firm
                    commitment to sustainability and environmental responsibility, we strive to provide comprehensive
                    e-waste solutions that make a positive impact on both businesses and the planet. <br>
                    <br>

                    Our mission is clear: to tackle the growing challenge of electronic waste by offering efficient and
                    eco-friendly disposal services. Backed by a team of experts in e-waste management, we ensure that
                    your outdated electronics are recycled in compliance with the highest industry standards. Through
                    cutting-edge recycling techniques, we aim to minimize the environmental footprint of e-waste while
                    maximizing the recovery of valuable resources. <br>
                    <br>

                    Why choose us? Our track record speaks for itself. We have successfully partnered with numerous
                    businesses, helping them navigate the complex landscape of e-waste disposal. Our seamless process
                    guarantees convenience and transparency every step of the way.

                    Join us in shaping a cleaner, greener future. Together, we can pave the way for a sustainable
                    tomorrow by managing e-waste intelligently today.

                    Contact us now to learn how we can assist you in responsibly managing your electronic waste. Your
                    commitment to sustainability starts here.
                </p>
            </div>
        </div>
    </section>

    <div class="line-container">
        <div class="line-1"></div>
        <div class="line-3"></div>
        <section class="second-sec">
            <!--<div class="container">
            <p class="container-title">What we do? <br></p>
            <div class="line"></div>

            <div class="gradient-cards">
                <div class="card">
                    <div class="container-card bg-green-box">

                        <p class="card-title">Muth bazi</p>
                        <p class="card-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
                            consectetur dicta necessitatibus maxime aperiam at tempora repellat deleniti alias quia
                            obcaecati suscipit, non ducimus qui? Excepturi velit eveniet quasi veniam!</p>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card bg-white-box">

                        <p class="card-title">Randi bazi</p>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad
                            impedit, iure veritatis, tempore eius maiores error illum quo deleniti voluptatem
                            doloremque. Esse cupiditate, natus sapiente ullam quaerat dolorem repudiandae omnis!.</p>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card bg-yellow-box">

                        <p class="card-title">Chinar pan</p>
                        <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
                            aperiam exercitationem ullam inventore dolorum nisi hic perferendis non quo, provident at
                            obcaecati ab veritatis minus? Voluptas ducimus cum velit officiis?</p>
                    </div>
                </div>

                <div class="card">
                    <div class="container-card bg-blue-box">
                        <p class="card-title">Laundiya tarna</p>
                        <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quia
                            facilis alias maiores quo reprehenderit tenetur ea ducimus, impedit perspiciatis aspernatur
                            exercitationem vitae molestiae expedita voluptatem id, adipisci animi et.</p>
                    </div>
                </div>
            </div>
        </div>-->
            <img class="image-sec" src="/images/about1.png" alt="" height="600px">
        </section>
        <div class="line-2"></div>
        <div class="line-4"></div>
    </div>

    <section class="third-sec">
        <img src="/images/about2.png" alt="" class="image-2" height="600px">
    </section>
    <%- include('./footer.ejs'); %>
</body>

</html>